
<h4 class="review-form">Add a review</h2>


<%= form_for( [@product, @revew] ) do |form| %>

  <div class="form-group">
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :rating %>
    <%= form.select :rating, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]], 5) %></p>
  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>



